 url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {box-sizing: border-box; }
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.main {
    background-color: #1D2437;
    background-image: url('../images/bg.png');
}
.container {
    max-width: 1000px;
    margin: auto;
    color: #fff;
}
header {
    padding: 45px 0 0 0;    
}
.heroArea {
    display: flex;
}
.heroArea .leftside {
    flex: 1;
}
.heroArea .leftside h1 {
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    margin: 0 0 30 0;
    margin-top: 60px;
}
.heroArea .subtitle {
    font-size: 16px;
    line: height 23px;
    color: #999;
    margin-bottom: 20px;
}
.heroArea .leftside .form {
    margin-bottom: 20px;
}
.heroArea .leftside .form input {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
    height: 40px;
    outline: none;
    color: #FFF;
    font-size: 14px;
    width: 300px;
    padding: 0 10px;
}
.leftside .form button {
    height: 40px;
    border: 0;
    background-color: #0071b7;
    color: #FFF;
    font-size: 14px;
    padding: 0 20px;
    margin-left: 10px;
}
.heroArea .leftside .techs {
    margin-bottom: 60px;
}
.heroArea .leftside .techs img {
    margin-right: 10px;
}
.heroArea .rightside {
    flex: 1;
    background-image: url('../images/hero.png');
    background-size: 100% auto;
}